@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    330.980.8982
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dave@gmail.com">dave@gmail.com</a><br />
</address>