@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hacking For Humanity</h1>
    <p class="lead">Hacking For Humanity is a volunteer based organization committed to providing software development services free of charge to deserving non-profit organizations.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Volunteer</h2>
        <p>
            Are you a software developer? Are you looking to make a difference by providing you skill and knowledge for the betterment of mankind?  Look no further.  We can match
            you with projects and organizations that can use your help.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Request Project</h2>
        <p>Do you represent a Non-Profit that needs help a custom website, mobile app, or software package.  You can apply to have your project considered by Hacking for Humanity.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donate</h2>
        <p>If you would like to donate to help cover hosting and administrative costs for Hacking for Humanity, please see the link below.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>